<p style="color: green"><%= notice %></p>

<h1>Menu</h1>

<div id="products">
  <%= form_tag(search_path, method: 'get', remote: true) do %>
    <div class="input-group mb-5">
      <div class="col-8" style="padding:0">
        <%= text_field_tag :search, '', class:'form-control', placeholder: 'Search', onkeydown:'clickSubmit();' %>
      </div>
      <div class="col-4" style="padding:0">
        <%= select_tag "filter", options_for_select(['Search Filter', 'Veg', 'Non-Veg']), class:'custom-select', onchange:'clickSubmit();' %>

        <%= submit_tag "Search", class:'btn btn-dark', id:'search_submit', style:'display:none' %>
      </div>
    </div>
  <% end %>
  <div id="menu-products-container">

    <!-- <div id="products"> -->

    <div>
      <% @cats.each do |cat| %>
        <% if cat.products.where(featured: true).first.image.attached? %>
          <%= image_tag(cat.products.where(featured: true).first.image, class:'img-fluid') %>
        <% end %>
        <div class="col-12">
          <h2 style="text-align: center"><%= cat.heading %></h2>
        </div>
        <div class="row gx-4 gy-4 row-cols-auto">
          <% @products.each do |product| %>
          <div class="col-auto card">
            <% if product.category == cat %>
              <% if product.available %>
                <div class="card-header">
                  <% if product.image.attached? %>
				            <%= image_tag(product.image, class:'img-fluid') %>
			            <% end %>
                </div>
                <div class="card-body">
                <h3><%= product.name %></h3>
                <p><%= product.description %></p>

                <div class="card-footer row justify-content-around">
                <div class="col"><%= product.price %></div>
                <% if user_signed_in? %>
                <div class="col">
                  <%= form_with(url: cart_add_path) do |f| %>
                    <%= f.hidden_field :id, value: product.id, class:"col-sm-1" %>
                    <%= f.number_field :quantity, value: 0, min: 1, class:"col-sm-4" %>
                    <%= f.submit "Add", class:"btn btn-primary btn-sm" %>
                  <% end %>
                </div>
                <% end %>
                </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>


<script>
  function clickSubmit(){
    $("#search_submit").trigger("click");
  }
</script>