<div id="<%= dom_id reservation %>">
  <p>
    <strong>Name:</strong>
    <%= reservation.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= reservation.phone %>
  </p>

  <p>
    <strong>Resdate:</strong>
    <%= reservation.resdate %>
  </p>

  <p>
    <strong>Restime:</strong>
    <%= reservation.restime %>
  </p>

  <p>
    <strong>People:</strong>
    <%= reservation.people %>
  </p>

</div>
